Importing Dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection And Analysis

In [4]:
#loading Dataset
diabeties_data=pd.read_csv('/content/diabetes.csv')

In [5]:
#first 5 rows
diabeties_data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [7]:
#number of rows and colums
diabeties_data.shape

(768, 9)

Getting the Statistical measures of Data

In [8]:
diabeties_data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [10]:
diabeties_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
diabeties_data.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [12]:
#separating the data and labes
X=diabeties_data.drop(columns='Outcome',axis=1)
Y=diabeties_data['Outcome']

In [13]:
print(X)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [14]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [15]:
scaler=StandardScaler()

In [16]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
Standardized_data=scaler.transform(X)

In [18]:
print(Standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [19]:
X=Standardized_data

Train Test Split

In [21]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y ,random_state=1,test_size=0.2,stratify=Y)

In [22]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Training Model

In [23]:
classifier =svm.SVC(kernel='linear')

In [24]:
#training svm classifier
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Model Evaluation 

Accuracy Score

In [27]:
#accuracy scare on training data
X_train_accuracy=classifier.predict(X_train)
train_accuracy=accuracy_score(X_train_accuracy,Y_train)
print("Accuracy score on training data :",train_accuracy)

Accuracy score on training data : 0.7833876221498371

In [28]:
#accuracy scare on test data
X_test_accuracy=classifier.predict(X_test)
test_accuracy=accuracy_score(X_test_accuracy,Y_test)
print("Accuracy score on test data :",test_accuracy)

Accuracy score on test data : 0.7792207792207793

Making Predictive System

In [31]:
input_data=(2,197,70,45,543,30.5,0.158,53)
#changing input data to numpy array
input_array_as_np_array=np.asarray(input_data)
#reshaping data as we are predicting for one instance
input_data_reshaped=input_array_as_np_array.reshape(1,-1)

#standardizing data
std_data=scaler.transform(input_data_reshaped)
print(std_data)

pred=classifier.predict(std_data)
if(pred[0]==0):
  print("The person is Non Diabetic")
else:
  print("The Person is Diabetic")

[[-0.54791859  2.38188392  0.04624525  1.53455054  4.02192191 -0.18943689
  -0.94794368  1.68125866]]
The Person is Diabetic